body {
  background-color: rgb(255, 255, 255);
}

img {
  width: 74px;
  height: 37px;
}

#zgoraj {
  text-align: center;
}

#main {
  min-height: 500px;
  height: auto;
  width: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 36px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'roboto', arial, sans-serif;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 50px auto;
  flex-grow: 1;
  color: rgb(32, 30, 36)
  overflow-y: auto;
}

input {
  width: 370px;
  height: 24px;
  font-size: 16px;
}

h3, h2 {
  font-weight: normal;
}

ul, li {
  display: inline;
}

#footer {
  font-family: 'roboto', arial, sans-serif;
  margin: 0 auto;
  width: 450px;
  color: gb(26, 115, 232);

}

#naprej {
  background-color: rgb(26, 115, 232);
  float: right;
  width: 88px;
  height: 36px;
  text-align: center;
  border-radius: 7px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

#naprej:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#Ustvarite {
  float: left;
}

.moder {
  font-style: normal;
  color: rgb(26, 115, 232);
  text-decoration: none;
  font-weight: bold;
}

#select {
  float: left;
}

.a-foot {
  float: right;
  display inline;
  color: rgb(117, 117, 117);
  line-height: 16.8px;
  font-size: 12px;
  padding: 0px 16px;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
}

p {
  float: left;
}
